/* 1024-745px */

@media (max-width: 1024px) and (min-width: 745px) {

    /* section1 */

      .section1 {
        padding: 12px 0 0 0;
      }

    .flex-container1 {
        flex-direction: column;
        align-items: center;
    }

    .left-block1 {
        max-width: 630px;
        width: 100%;
        text-align: center;
    }

    .downtext {
        margin: 34px 0 82px 0;
        justify-content: center;
    }
    .right-block1 {
        max-width: 960px;
        width: 100%;
    }
    .right-block1 img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 12px;
    }
/* section2 */
   .flex-container2 {
    column-gap: 61px;
}

    .minibox-text {       
        max-width: 279.33px;
        width: 100%;
    }


/* section3 */

.flex-container {
    flex-direction: column;
}
.right-block {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    column-gap: 129px;
}

.right-block-child2, 
.right-block-child {
    max-width: 415,5px;
    width: 100%;
}

.left-block,
.right-block {
    width: 100%;
    
}

.right-block {
    margin: 64px 0 64px 0;
}
.left-block img {
    height: 550px;
    object-fit: cover;
}

/* section4 */
.flex-container4 {
    width: 100%;
    gap: 9px;

}
/* footer */
.flex-container6 {
    flex-direction: column;
    gap: 48px;
}
}

/* 744-481 */

    @media (max-width: 744px) and (min-width: 481px) {

        /* section1 */
       
        .section1 { 
            max-width: 744px;
            width: 100%;
            height: 760px;

        }
        .container1 {
            max-width: 696px;
            width: 100%;
           height: 760px;
           flex-direction: column;

        }
        .text-block {
            max-width: 696px;
            width: 100%;
            height: 237px;

        }

        .uptext { 
            height: 108px;
        }

        .downtext {
            height: 84px;
            display: flex;
            flex-direction: column;

        }

        .title17 {
            font-size: 40px;
        }
        .right-block1 {
            max-width: 696px;
            width: 100%;
            height: 499px;
            background-image: url("../img/img3.png");
        }
        
        .button2 { 
            max-width: 90px;
            width: 100%;
            height: 40px;
        }
        .text017 {
            max-width: 696px;
            width: 100%;

        }
        /* section2 */
        
    .section2 {
        max-width: 744px;
        width: 100%;
        height: 414px;
        

    }
    .flex-section2 {
        max-width: 744%;
        width: 100%;
        height: 414px;

    }
    .box-section2 {

        max-width: 744%;
        width: 100%;
        height: 138px;
    }
    .minibox-section2 {
        

    }
    .blackdiv {

    }
    .minibox-title {

    }
    .minibox-text {
        
    }
    
 /* section3 */

.right-block {
    flex-direction: column;
}

.right-block-child,
.right-block-child2 {
    align-items: center;
    text-align: center;
}

    }


/* max 375 */ 

@media (max-width: 375px) {
    /* section1 */
    .section {
        max-width: 375px;
        width: 100%;
        height: 695px;
    }

   .frame17 {
    max-width: 327px;
    width: 100%;
    height: 674px;
   }

   .text-block {
    height: 341px;
   }

   .image-block {
    background-image: url("../img/img4.png");
    max-width: 327px;
    width: 100%;
    height: 309px;
    object-fit: cover;
}

   .uptext {
    height: 205px;
   }
   .downtext {
    height: 112px;
    flex-direction: column;
    }
    .text017 {
        display: flex;
       align-items: center;
    }

    .button2 {
        max-width: 90px;
        width: 100%;
        height: 40px;
    }

    .burger {
        display: block;
        width: 25px;
        height: 25px;
    }

    .navbar {
        display: none;
    }
    .button {
        display: none;
    }

    /* section2 */
    
    .section2 {

    }
    .flex-section2 {

    }
    .box-section2 {

    }
    .minibox-section2 {

    }
    .blackdiv {

    }
    .minibox-title {

    }
    .minibox-text {
        
    }
}
